$breakpoint-mobile: 600px;

body, html {
	height: 100%;
}

body {
	margin: 0;
	background-color: black;
	font-family: Helvetica, sans-serif;
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
}

#wrap {
	height: 100%;
	display: flex;
	align-content: center;
}

.bg-image {
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('../assets/server-image.png');
	filter: blur(3px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	width: 100%;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	img {
		align-self: center;
		max-width: 90vw;
	}

	h2 {
		font-size: 2em;
	}

	.button {
		margin: 0 0 0.5em 0;
		padding: 0.6em;
		border-radius: 2px;
		background-color: rgba(0,0,30,0.5);

		&:hover {
			background-color: rgba(0,0,100,0.5);
		}
	}

	h4 {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: white;
	}

	@media (max-width: $breakpoint-mobile) {
		h2 {
			font-size: 1.2em;
		}
	}
}
